{% extends "api_gui/base.html" %}
{% load static %}
{% block content %}
{{ cog|json_script:"cogData"}}
<div id="app" class="flex-col h100">
    <div class="flex-row flex-space-between margin-bottom">
        <div class="content-heading">
            Editing [[ cog.name ]]
        </div>
        <div @click="addDataPoint()" class="w10 flat-button button el1 flex-row flex-center padding-2">
            <div>
                Add New
            </div>
            <div class=>
                <span class="material-icons-outlined">
                    add_circle
                </span>
            </div>
        </div>
    </div>
    <div class="flex-row flex-space-between padding border-bottom flat el1">
        <template v-for="data in cog.template">
            <div v-if="data.key !== 'dbid'" class="w20 padding-lr">
                [[ data.data ]]
            </div>
        </template>
        <div class="w5">
        </div>
    </div>
    <div class="flex-expand el2 flat margin-bottom">
        <div class="margin">
            <transition-group name="fade" appear>
                <div v-for="dataPoint in cog.data" :key="dataPoint" class="el1 flat margin-bottom">
                    <div class="padding flex-row flex-space-between">
                        <template v-for="dataObject in dataPoint" :key="dataObject">
                            <div class="w20" v-if="dataObject.key !== 'dbid'">
                                <div v-if="dataObject.edit===false" @dblclick="dataObject.edit = true" class="">
                                    [[ dataObject.data ]]
                                </div>
                                <input v-else v-model="dataObject.data" @keyup.enter="dataObject.edit = false"
                                    @blur="dataObject.edit = false">
                            </div>
                        </template>
                        <div @click="deleteDataPoint(dataPoint)" class="button">
                            <span class="material-icons-outlined">
                                delete
                            </span>
                        </div>
                    </div>
                </div>
            </transition-group>
        </div>
    </div>
    <div class="el1 flat-button button" @click="save('')">
        <div class="margin flex-row flex-center">
            SAVE
        </div>
    </div>
</div>
<script src="{% static 'api_gui/edit_cog.js' %}"></script>
{% endblock content %}