{% extends "api_gui/base.html" %}
{% load static %}

{% block content %}

<div class="content-master">
    <div class="content-heading">
        Active Data Entries in Server {{ name }}
    </div>
    <div class="table-headings">
        <div>
            Cog Name
        </div>
    </div>

    {% for cog in cogs %}
    <a href="/bot/{{ slug1 }}/{{ slug2 }}/{{ cog.short }}">
        <div class="bot-item">
            <div>
                {{ cog.long }}
            </div>
            <div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock content %}