:root {
	--dark-bg-color: rgb(47,49,54);
	--lighter-bg-color: rgb(54,57,63);
	--navbar-height: 6rem;
	--border-color: rgb(90,93,99);
	--base-text: rgb(210,213,219);
	--base-font: Roboto;
}

html, body {
	height: 100vh;
	width: 100vw;
	background: var(--dark-bg-color) !important;
	color: var(--base-text);
	font-family: var(--base-font)
}

main {
	background: var(--lighter-bg-color);
	overflow: auto;
	height: 100vh;
	padding: 0 !important;
}

.navlogo{
	font-size: 3rem;
	font-weight: 1000;
}

.fill {
	min-height: 100vh;
	overflow: hidden;
}

.shift{
	padding-top: var(--navbar-height);
	height: 100vh;
}

.navbar{
	padding: 0;
}

.navfill {
	height: var(--navbar-height);
	border-bottom: 1px solid var(--border-color);
}

.content-master {
	padding: 1rem;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.content-heading{
	font-size: 1.5rem;
	width: 100%;
	padding-bottom: 1rem;
}

.table-headings{
	width: 100%;
	padding: 1rem;
	border-bottom: 1px solid var(--border-color);
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
}

.bot-item{
	width: 100%;
	padding: 1rem;
	border: 1px solid var(--border-color);
	display: flex;
	justify-content: space-between;
	background: var(--lighter-bg-color);
	margin-bottom: 1rem;
}

.faq-item{
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: column;
}

.faq-line{
	width: 100%;
	min-width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.faq-active{
	margin-right: 1rem;
}

.faq-headline{
	font-weight: bold;
}

.bot-item:hover{
	filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.2))
}

.dropshadow-flat {
	filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.2))
}

.debug {
    border: 1px solid red;
}

.hline {
	border-bottom: 1px solid var(--border-color);
	min-width: 100%;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

a, a:hover {
	color: var(--base-text);
	text-decoration: none;
}